name: Update HRRR Map
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libeccodes-dev
          python -m pip install --upgrade pip
          pip install "herbie-data[extras]" metpy cartopy matplotlib xarray cfgrib eccodes pytz

      - name: Run Script
        run: |
          python update_map.py
        
      - name: Commit and Push Frames
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add frames/*.png || true
          git commit -m "Update HRRR Forecast Loop" --allow-empty || true
          git push
