name: Update HRRR Map

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libeccodes-dev
          pip install "herbie-data[extras]" metpy cartopy matplotlib xarray cfgrib eccodes pytz

      - name: Run Script
        run: python update_map.py
        
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add frames_temp/*.png frames_precip/*.png frames_wind/*.png frames_gust/*.png frames_snow/*.png frames_total_precip/*.png || true
          git commit -m "Update HRRR Maps" --allow-empty || true
          git push
